@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
/* max-width: smaller target, min-width: larger targets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Kumbh Sans", system-ui, sans-serif;
}

:root {
  --very-dark-blue: #1d2025; /* --black with 75% opacity */
  --dark-grayish-blue: #68707d;
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --orange: #ff7d1a;
  --pale-orange: hsl(25, 100%, 94%);
}

html {
  min-height: 100lvh;
  user-select: none;
  scrollbar-gutter: stable;
  -moz-user-select: none;
  body,
  #app {
    min-height: inherit;
    position: relative;
    place-items: center;
  }
}

.lucide {
  transition-duration: 300ms;
}

.transition {
  transition-duration: 200ms;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
  &.center {
    justify-content: center;
    align-items: center;
  }
}

.btn {
  &.shadow {
    box-shadow: 0 2px 0.9rem var(--orange);
  }

  &:active {
    transform: translateY(5%);
  }
}

.bd {
  border: 2px solid;
}

.hide {
  display: none;
}
